body {
  width: 1920px;
}

h2 {
  font-family: monospace;
  color: #606060;
}

i {
  margin-right: 10px;
}

nav {
  display: block;
  width: 660px;
  margin: 0;
  margin-right: 81px;
  padding: 0;
}

.top-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  position: relative;
}

.top-menu li {
  display: inline-block;
}

.top-menu a {
  padding: 1em;
  display: block;
  position: relative;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #171717;
  text-decoration: none;
}

.top-menu a:hover {
  color: #c9a96e;
}

.header {
  display: flex;
  justify-content: space-between;
}
h1 {
  margin: 0;
  text-align: center;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2.5px;
  color: #171717;
}
.home {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #c9a96e;
}

.main-hero {
  position: relative;
  margin-bottom: 60px;
}

.text-block {
  position: absolute;
  bottom: 59px;
  left: 375px;
  color: white;
}

.hero-info {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

.hero-box {
  width: 560px;
  padding: 0;
}

h2 {
  margin: 0;
}

.title-hero {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.time-hero {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.header-logo {
  margin-left: 80px;
}

.header-logo::before {
  content: "";
  position: absolute;
  top: 29px;
  width: 125px;
  height: 6px;
  background: #ece1cc;
  z-index: -1;
}

/* main-content */
.main-content {
  display: inline-flex;
  padding-left: 375px;
}
.posts {
  width: 770px;
  font-size: 0%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post {
  display: inline-block;
  height: 411px;
  width: 370px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.post-photo {
  margin-bottom: 15px;
}

.post-kind {
  margin: 0;
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #c9a96e;
}

.post-discription {
  margin: 4px 0 10px 0;
  padding: 0 42px 0 43px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #171717;
}
.post-date {
  text-align: center;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.post-tag-by {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #b1b1b1;
}

.big-post {
  margin-top: 60px;
  margin-bottom: 31px;
  height: 561px;
}

.big-post-time {
  margin: 0;
  font-family: PT Sans;
  font-style: regular;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #c9a96e;
  padding: 30px 0 0 30px;
}

.post-discription1 {
  margin: 6px 0 11px 0;
  padding: 0 0 0 31px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
}

.post-date1 {
  padding: 0 0 0 30px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.padding2 {
  padding: 0 8px 0 8px;
}

.padding3 {
  padding-right: 8px;
}

.under-text {
  font-family: PT Sans;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  line-height: 132%;
  color: #666666;
  margin-top: 14px;
  padding: 0 126px 25px 30px;
}

/* sidebar */

.sidebar {
  margin-left: 130px;
  padding: 0;
}
