body {
  width: 1920px;
}

i {
  margin-right: 10px;
}

.top-menu {
  display: block;
  width: 660px;
  margin: 0;
  margin-right: 81px;
  padding: 0;
}

.top-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  position: relative;
}

.top-menu li {
  display: inline-block;
}

.top-menu a {
  padding: 1em;
  display: block;
  position: relative;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #171717;
  text-decoration: none;
}

.top-menu a:hover {
  color: #c9a96e;
}

.header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2.5px;
  color: #171717;
}

h2 {
  font-family: monospace;
  color: #606060;
  margin: 0;
}

.home {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #c9a96e;
}

.main-hero {
  position: relative;
  margin-bottom: 60px;
}

.text-block {
  position: absolute;
  bottom: 59px;
  left: 375px;
  color: white;
}

.hero-info {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

.hero-box {
  width: 560px;
  padding: 0;
}

.title-hero {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.time-hero {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.header-logo {
  margin-left: 80px;
}

.header-logo::before {
  content: "";
  position: absolute;
  top: 29px;
  width: 125px;
  height: 6px;
  background: #ece1cc;
  z-index: -1;
}

/* main-content */
.main-content {
  display: inline-flex;
  padding-left: 375px;
}

.posts {
  width: 770px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  display: inline-block;
  height: 411px;
  width: 370px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-bottom: 30px;
}

.post-photo {
  margin-bottom: 15px;
}

.post-kind {
  margin: 0;
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #c9a96e;
}

.post-discription {
  margin: 4px 0 10px 0;
  padding: 0 42px 0 43px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #171717;
}
.post-date,
.sidebar__date {
  text-align: center;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  padding: 0;
  margin-top: 10px;
}
.post-tag-by,
.sidebar__tag_by {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #b1b1b1;
}

.big-post {
  margin-top: 60px;
  margin-bottom: 31px;
  height: 561px;
}

.big-post-time {
  margin: 0;
  font-family: PT Sans;
  font-style: regular;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #c9a96e;
  padding: 30px 0 0 30px;
}

.big-post-discription {
  margin: 6px 0 11px 0;
  padding: 0 0 0 31px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
}

.big-post-date {
  padding: 0 0 0 30px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.big-post-padding {
  padding: 0 8px 0 8px;
}

.post-padding {
  padding-right: 8px;
}

.under-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-top: 14px;
  padding: 0 126px 25px 30px;
}

.sidebar {
  margin-left: 130px;
  width: 270px;
  float: right;
  text-align: center;
  margin-right: 375px;
  margin-top: -20px;
}

.sidebar__title,
.sidebar__title1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  height: 50px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #171717;
}
.sidebar__author {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.sidebar__name {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #171717;
}

.sidebar__topik {
  font-family: PT Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #b1b1b1;
  padding-top: 4px;
}
.sidebar__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.footer-menu a {
  display: block;
  color: #666666;
  margin: 0 20px 0 20px;
}

.sidebar__ending {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #c9a96e;
}
.sidebar__title1 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar__story {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #171717;
  margin: 0 10px 0 10px;
}

.sidebar__block {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar__date {
  padding-bottom: 14px;
}

.sidebar__list {
  list-style: none;
  padding: 0;
}

.sidebar__item,
.sidebar__item1 {
  text-align: center;
  display: flex;
  color: #666666;
}

.sidebar__list span {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

em {
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sidebar__item1 {
}

.sidebar__title {
  margin-top: 70px;
}

.sidebar__media_block {
}

.sidebar__media1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background-color: #f8f9fa;
}
.pagination {
  display: inline-block;
  vertical-align: middle;
  width: 509px;
  height: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  /* justify-content: flex-end; */
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a:hover {
  color: #a2a2a2;
}

.pagination-text {
  font-family: HK Grotesk;
  font-size: 16px;
  line-height: 16px;
  color: #171717;
}

/* footer */
.footer {
  margin: 99px 375px 31px 375px;
  width: 1170px;
}
.footer-line {
  margin: 0 521px 60px 521px;
}

.footer-line::before {
  content: "";
  position: absolute;
  top: 4083px;
  width: 124px;
  height: 6px;
  background: #ece1cc;
  z-index: -1;
}

.footer-top-menu {
  display: block;
  margin: 0 408px;
  padding: 5px;
  width: 353px;
}

.footer-top-menu ul {
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.footer-top-menu li {
  padding: 0;
  margin: 0;
  display: inline-block;
  padding-inline-start: 0;
}
.footer-top-menu a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  text-decoration: none;
}

.footer-top-menu a:hover {
  color: #c9a96e;
}

.footer-top-menu a:hover {
  color: #c9a96e;
}

.footer-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  margin-left: 476px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

a,
a:hover {
  text-decoration: none;
}

.socialbtns,
.socialbtns ul {
  margin: 0;
  padding: 0;
}

.socialbtns li {
  margin: 0;
  padding: 30px 10px;
}
.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fa {
  width: 34px;
  height: 24px;
  color: #666666;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding-top: 9px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 17px;
}

.socialbtns .fa:hover {
  color: #ffffff;
  background-color: #c9a96e;
}
